.app {
  display: grid;
  grid-template-rows: 5rem auto 10rem;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100vh;
}

.empty-cart {
  margin: 3rem 2rem;
  font-size: 1.4rem;
}
