.cart-icon {
  display: flex;
  align-items: baseline;
  color: white;
  color: #6a7271;
  font-size: 1.2rem;
}

.cart-icon a {
  color: #01807e;
  font-size: 3rem;
}

.cart-icon svg {
  color: #01807e;
  width: 19.2px;
  height: 19.2px;
}

.cart-icon__text {
  /* font-size: 2rem; */
}
.cart-icon__icon {
  display: flex;
  align-items: flex-end;
}
