.header {
  background-color: #222;
}

.header a {
  font-size: 1.2rem;
}

.header ul {
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

.header li {
  list-style: none;
  padding: 0;
  margin: 1.5rem auto;
}

.logo {
  font-weight: 700;
}
