.header {
  background-color: #222;
}

.header a {
  font-size: 1.2rem;
}

.header ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.header li {
  list-style: none;
  /* margin: auto; */
  padding: 0;
  margin: 1.5rem auto;
}
