@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
}

#root {
  height: 100vh;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  height: auto;
  background-color: #fff;
}

footer {
  grid-area: footer;
}

a {
  color: #01807e;
  text-decoration: none;
}

a:hover,
a:active {
  color: #62c7c5;
}
