@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
}

#root {
  height: 100vh;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  height: auto;
  background-color: #fff;
}

footer {
  grid-area: footer;
}

a {
  color: #01807e;
  text-decoration: none;
}

a:hover,
a:active {
  color: #62c7c5;
}

a svg:hover,
a svg:active {
  color: #62c7c5;
}

a div:hover,
a div:active {
  color: #62c7c5;
}

.btn {
  margin: 1rem;
  height: 2rem;
  width: 8rem;
  border-radius: 5px;
  border: none;
  background-color: #01807e;
  color: white;
}

.btn-disabled {
  margin: 1rem;
  height: 2rem;
  width: 8rem;
  border-radius: 5px;
  border: none;
  background-color: #aaa6a6;
  color: black;
}

.btn-sm {
  height: 2rem;
  width: 3.4rem;
  border-radius: 3px;
  border: none;
  background-color: #01807e;
  color: white;
}

.btn:hover,
.btn:active {
  background-color: #62c7c5;
  color: black;
}

.container {
  display: block;
  margin: 3rem auto;
  max-width: 90%;
  padding: 3rem;
  text-align: center;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
